body {
    background: radial-gradient($lightPurple, $greyBlue);
}

#event-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $ash;
}

legend {
    color: $lightGrey;
}

#main {
    display: grid;
    min-height: 500px;
    min-width: 400px;
    border: solid;
    border-color: $lightGrey;
}

#info {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
}

#yrmo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: $lightGrey;
}

#week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: grid;
    // grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    color: $lightGrey;
}

#month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: auto;
    width: auto;
}

.day {
    display: grid;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    border: solid 2px $lightGrey;
    margin: 1px
}

.eventButton {
    border-radius: 50%;
}